body {
    margin: 0;
    overflow: hidden;
}
::-moz-selection {       /* Code for Firefox */
    color: #0b0b0b;
    background: #f4f4f4;
}
::selection {
    color: #0b0b0b;
    background: #f4f4f4;
}



#loadingscreen {
    background-color: #f4f4f4;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    pointer-events: none
}



#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#0b0b0b;
}
#head{
    -webkit-user-select: none; /* Safari */                     /*prevent text selecting*/
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */ 
    
    display: flex;
    justify-content: center;
}
.space {
    width: 10vw;
    background-color:#0b0b0b;
    z-index: 1;
}
#spaceL {
    margin-right: 5px;
}
h1 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 3.5vw;
    font-weight: 300;
    color: #f4f4f4;
    z-index: 1;
    overflow: hidden;
}
#right {
    background-color:#0b0b0b;
    z-index: 2;
}
#left {
    padding-right: 1vw;
    z-index: 2;
}
#chatur {
    cursor:pointer;
}
#mail {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color: #0b0b0b;
    cursor:pointer;
    position: absolute; 
    color:transparent;
    z-index: 0;
}
#headspace {
    width: 100%;
    height: 2.1vw;
    z-index: 3;
    background-color: #0b0b0b;
}
#copy {
    font-size: 1.6vw;
    color: #0b0b0b;
    pointer-events: none;
    position: absolute;
    z-index: 0;
}



#designer { 
    z-index: 4;
    overflow: visible;      /*lets svg elements visible even outside this div */
    width: 80%;
    max-height: 75vh;
}
#svg{
    background-color: #0b0b0b;
    z-index: 4;
    display: flex;
    justify-content: center;
}



#work {
    -webkit-user-select: none; /* Safari */                     /*prevent text selecting*/
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */ 
    
    background-color: #0b0b0b;
    height: 200vh;
    display: flex;
    flex-direction: row;

    gap: 1vw;
    overflow: hidden;
    margin: 0;
}
.c {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin: 0;
}
.imgcont {
    object-fit: cover;
    z-index: 5;
}
#c1 {
    position: relative;
    top: 0px;
}
#c2 {
    position: relative;
    top: 0px;
}
#c3 {
    position: relative;
    top: 0px;
}



#foot1 {
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    height: 100.1vh;
    width: 100%;
}
#foot2 {
    background-color: #0b0b0b;
    position: fixed;
    height: 100.1vh;
    width: 100%;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#foot3 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#f1 {
    max-height: 92.5vh;
}
#f2 {
    font-size: 2.75vw;
    margin-bottom: 2.5vh;
}
#f3 {
    font-size:1vw ;
    color: grey;
    position: fixed;
    bottom: 0.5vh;
}



@media (max-width: 800px) {
    #hero {
        height: 60vw;
    }
    #work {
        height: fit-content;
        flex-direction: column;
    }
    .c {
        width: 100%;
        gap: 0;
    }
    #img1{
        object-position: 0% 100%;
        height: 100vw;
    }
    #img3{
        height: 0px;
    }
    #img5{
        height: 0px;
    }
    #img6{
        height: 0px;
    }
    #img8{
        object-position: 0% 0%;
        height: 83vw;
    }
    #c3 {
        gap: 0.9vw;
    }
    #img9{
        height: 0px;
    }
    #foot1 {
        height: 60vw;
    }
    #foot2 {
        height: 60vw;
    }
    #f2 {
        margin-bottom: 4vw;
    }
    #f3 {
        font-size: 2vw;
    }
}